*.dat
**/*swp
Session.vim
.viminfo
quartic
quartic_mp
compile_commands.json
GPATH
GRTAGS
GTAGS
tags
*.dSYM
.clangd/**
.criprojroot
accuracytest
statanalysis
quartic_cmplx
timingtest
.brew_packages_installed_
.cache/*
